---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Acerca de | sbector">
    <section class="max-w-3xl mx-auto px-6 py-20">
        <h1 class="text-2xl uppercase tracking-wide mb-8">Acerca de</h1>
        <p>
            artista multidisciplinario, productor de arte y programador
            originario de león, guanajuato. su trabajo artístico reflexiona
            acerca de la individualidad y la sociedad, el antropocentrismo en la
            cultura occidental y la idea de autoría en el arte contemporáneo
            utilizando técnicas como video, fotogrametría, realidad virtual y
            net art.
        </p>
        <a href="./cv_saul_becerra_torres_2024.pdf" target="blank" class="text-emerald-100 font-light">descargar cv</a>
    </section>
</Layout>
