---
import Layout from "@/layouts/Layout.astro";
import BentoCard from "@/components/BentoCard.astro";
import { getCollection } from "astro:content";

const obras = (await getCollection("obras"))
  .filter((obra) => obra.data.status === "published")
  .sort((a, b) => b.data.year - a.data.year);
---

<Layout title="sbector | home">
  <div
    class="
      w-full
      grid
      grid-cols-1
      sm:grid-cols-2
      lg:grid-cols-3
      auto-rows-[320px]
      gap-1
      px-1
      py-12
      grid-flow-dense
    "
  >
    {obras.map((obra) => (
      <BentoCard obra={obra} />
    ))}
  </div>
</Layout>