html,
body,
#root {
  position: relative;
  height: 100%;
  margin: 0;
  background: #000000;
}

.mensaje {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.mensaje h1{
  font-size: 50px;
  color: rgba(174, 216, 178, 0.7);
  margin: 0;
}

.mensaje h2{
  font-size: 20px;
  color: rgb(154, 208, 240, 0.7);
  margin: 0;
}